body {
    margin: 0;
}

/* Alterando ccs dos componentes do Materia UI */

/* Button */
.MuiListItem-button {
    /* background: linear-gradient(to right, rgb(247, 247, 247) 0%, rgb(255, 255, 255) 100%);   */
}

.MuiListItem-button:hover {
    background: rgb(255, 255, 255)!important;
    color: #005074!important;
}

.MuiListItem-button:focus {
    background: rgb(255, 255, 255)!important;  
    color: #005074!important;
}

.MuiCollapse-wrapperInner > .MuiListItem-button:hover {
    color: #005074!important;
    background: rgb(255, 255, 255)!important;
}


.MuiCollapse-wrapperInner > .MuiListItem-button:focus {
    color: #005074!important;
    font-weight: bold!important;
    border-right: 5px solid #005074!important; 
    background: rgb(255, 255, 255)!important;
}

/* Button */

/* Menu List */
.MuiSelect-selectMenu {
    padding: 12px 14px!important;
}

.MuiListItemIcon-root {
    min-width: 40px!important;
}

.MuiListItemText-root>span {
    font-size: 12px!important;
}

.MuiAppBar-colorDefault {
    background-color: white!important;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2), 
    0px 0px 0px 0px rgba(0,0,0,0.14), 
    0px 0px 0px 0px rgba(0,0,0,0.12)!important;
}
/* Menu List */

/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* Scroll Bar */