body {
    margin: 0;
}

/* Alterando ccs dos componentes do Materia UI */

/* Menu List */

.MuiButtonBase-root > 
.MuiListItemIcon-root > 
.MuiSvgIcon-root {
    color: #005074!important;
}

.MuiListItem-button {
    background-color: #f4f9fc!important;  
    transition: all .25s ease!important;
}

.MuiListItem-button:hover {
    color: #005074!important;
    border-right: 4px solid #005074!important; 
    padding-left: 30px!important;
}

.MuiListItem-button:focus {
    color: white!important;
    font-weight: bold!important;
    border-right: 4px solid #005074!important; 
    background: #8dbcd8!important;
}

.MuiListItem-button:focus
.MuiSvgIcon-root {
    color: white!important;
}


.MuiCollapse-wrapperInner > .MuiListItem-button {
    transition: all .25s ease!important;
    background: linear-gradient(to right, #f4f9fc 0%, rgb(255, 255, 255) 100%);  
}

.MuiCollapse-wrapperInner > .MuiListItem-button:hover {
    color: #005074!important;
    border-right: 4px solid #005074!important; 
    padding-left: 30px!important;
}

.MuiCollapse-wrapperInner > .MuiListItem-button:focus {
    color: white!important;
    font-weight: bold!important;
    border-right: 4px solid #005074!important; 
    background: #8dbcd8!important;
}

.MuiCollapse-wrapperInner > .MuiListItem-button:focus
.MuiSvgIcon-root {
    color: white!important;
}


.MuiSelect-selectMenu {
    padding: 12px 14px!important;
}

.MuiListItemIcon-root {
    min-width: 40px!important;
}

.MuiListItemText-root>span {
    font-size: 12px!important;
}

.MuiAppBar-colorDefault {
    background-color: white!important;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2), 
    0px 0px 0px 0px rgba(0,0,0,0.14), 
    0px 0px 0px 0px rgba(0,0,0,0.12)!important;
}
/* Menu List */

/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* Scroll Bar */